.Menu {
    position: absolute;
    width: 300px;
    height: 100%;
    /*left: 0px;
    top: 0px;*/
    background-color: #50BE50;
}

.Menu ul{
    list-style: none;
}

.menuItem {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #327832;
}

.menuItemSelected {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #E6E65A;
    background-color: #327832;
    background: url(./assets/atabaque_menu_crop.PNG);
    background-repeat: no-repeat;
    background-position: right;
}